.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.app-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1;
  padding: 25px;
  min-width: 0;
}